.App {
  text-align: center;
}

.stop-scrolling {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-attachment: local;
  background-size: cover;
  background-image: url("./images/plane_wing.jpg");
  z-index: -1;
}
